* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 46.857em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100rem) {
    html {
      font-size: 75%; } }

body {
  background-color: #fafbff;
  background-image: url(../images/pattern-circles.svg), url(../images/bg-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 15rem, cover;
  background-position: center 4%, -10rem -35rem;
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
  font-size: 1.5rem;
  height: 100vh;
  color: #6a759a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.heading {
  font-weight: 800;
  color: #293356; }
  .heading--primary {
    font-size: 3.2rem; }
  .heading--sub {
    font-size: 1.6rem;
    font-weight: 600; }

.heading-box {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 8rem; }

.main {
  width: 65rem;
  max-width: 90%; }

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3rem 6rem rgba(41, 51, 86, 0.1); }
  .card__content {
    padding: 4rem 6rem 6rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    border-bottom: 1px solid rgba(205, 215, 238, 0.5);
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .card__content {
        padding: 6rem 3rem;
        grid-template-columns: 1fr;
        text-align: center; } }
  .card__heading {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 1.6rem; }
  .card__price-box {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media only screen and (max-width: 31.25em) {
      .card__price-box {
        justify-content: center;
        grid-row: 3/4;
        margin-bottom: 4rem; } }
  .card__price {
    display: inline-block;
    font-size: 4.5rem; }
  .card__per {
    font-size: 1.8rem;
    margin-left: 0.5rem; }
  .card__slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 5rem 0 7rem;
    grid-column: 1/3;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(90deg, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%);
    border-radius: 30px; }
    @media only screen and (max-width: 31.25em) {
      .card__slider {
        grid-column: 1/-1; } }
  .card__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-image: url("../images/icon-slider.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #10d5c2;
    cursor: pointer;
    box-shadow: 0 1.5rem 4rem rgba(16, 213, 194, 0.4); }
  .card__slider::-moz-range-thumb {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-image: url("../images/icon-slider.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #10d5c2;
    cursor: pointer;
    box-shadow: 0 1.5rem 4rem rgba(16, 213, 194, 0.4); }
  .card__pay-type {
    grid-column: 1/3;
    display: flex;
    justify-content: end;
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .card__pay-type {
        grid-column: 1/-1; } }
    .card__pay-type > * {
      margin-left: 2rem; }
  .card__toggle {
    position: relative;
    width: 6rem;
    height: 3rem;
    background-color: #cdd7ee;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s; }
    .card__toggle:hover, .card__toggle:focus {
      background-color: #10d5c2; }
    .card__toggle:focus {
      outline: 3px solid #293356; }
  .card__toggle-circle {
    position: absolute;
    top: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-51%); }
  .card__toggle[aria-pressed='false'] .card__toggle-circle {
    left: 0.4rem; }
  .card__toggle[aria-pressed='true'] .card__toggle-circle {
    left: auto;
    right: 0.4rem; }
  .card__discount {
    padding: 0 1rem;
    background-color: #fde2d8;
    border-radius: 30px;
    align-self: stretch;
    font-size: 1.3rem;
    font-weight: 800;
    color: #bc3306;
    display: grid;
    place-items: center; }
    @media only screen and (max-width: 31.25em) {
      .card__discount--1 {
        display: none; } }
    .card__discount--2 {
      display: none; }
      @media only screen and (max-width: 31.25em) {
        .card__discount--2 {
          display: grid; } }
  .card__cta {
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .card__cta {
        flex-direction: column; } }
  .card__items {
    list-style: none; }
    @media only screen and (max-width: 31.25em) {
      .card__items {
        margin-bottom: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .card__item {
    display: flex;
    align-items: center; }
  .card__item:not(:last-child) {
    margin-bottom: 0.7rem; }

.check {
  height: 1rem;
  margin-right: 1.75rem; }

.btn:link,
.btn:visited,
.btn {
  display: block;
  text-decoration: none;
  padding: 1.2rem 4rem;
  background-color: #293356;
  color: #bdccff;
  border-radius: 30px;
  font-size: 1.4rem;
  transition: color 0.2s; }
  @media only screen and (max-width: 31.25em) {
    .btn:link,
    .btn:visited,
    .btn {
      padding: 1.4rem 6rem; } }
  .btn:link:hover, .btn:link:focus,
  .btn:visited:hover,
  .btn:visited:focus,
  .btn:hover,
  .btn:focus {
    color: white; }
